.table_header_cell {
  border: none;
  border-bottom: 1px solid #888888;
  color: #555555;
  text-transform: uppercase;
  margin-right: 2px;
  font-size: 15px;
  height: 30px;
  text-align: left;
}

.sort {
  cursor: pointer;
  color: #555555;
}